table {
    table-layout:fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
td {
    border: 1px solid gray; padding: 1px;
     white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     white-space: pre-wrap;       /* css-3 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

* {
    font-size: 11px; font-family: arial;
}

col#c1 {width:32px;}
col#c2 {width:95px;}
col#c3 {width:150px;}
col#c4 {width:150px;}
col#c5 {width:45px;}

td.error {
    color:red;
}

td a {
    text-decoration:none;
}
